.side-large-clickable{
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #364149 !important;
}

.side-title-item{
    vertical-align: middle;
    display: inline-block;
}

.badges{
    margin:5px;
    margin-top:10px;
    margin-bottom:0px;
  }

#release-info{
    margin-top: 20px;
}

#latest-release{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    background-color: initial!important;
    border: 1px solid #9730b0;
    color: #68217A;
}

.download-button{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display: inline-block;
    margin: 0 2px;
    padding: 0 7px;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 12px;
    /*background-color: initial!important;*/
    border: 1px solid #9730b0;
    color: #68217A;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.download-button:hover{
    background:#68217A;
    color:#fff;
    border: 1px solid #68217A;
    cursor: pointer;
}

#download-windows{
    margin-left: 0px;
}

hr.release-note-breaker {
    border-top: 3px double #cccccc !important;
}

.download_table{
    text-align: center;
}