.side-large-clickable{
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #364149 !important;
}

.side-title-item{
    vertical-align: middle;
    display: inline-block;
}

.badges{
    margin:5px;
    margin-top:10px;
    margin-bottom:0px;
  }